*.pyc
*~
__pycache__
Djangovenv
db.sqlite3
/static
.DS_Store
.bash_history
.bash_logout
.bashrc
.cache/mc/Tree
.cache/pip/*
.config/*
.local/share/mc/history
.gitconfig
.gitignore
.local/share/mc/history
.nano/search_history
.profile
.selected_editor

